/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root{
    --bg-colour: #F7F8E8;
    --font-card-colour: #F7F8E8;
    --group-bg-colour: #E6DAB2;
    /* --card-bg-colour: #BEAF79; */
    --card-color: #2a2828; 
    --font-color: #2a2828; 

    --body-font: "poppins", sans-serif;
    --body-font-size: 16px;
    --h2-font-size: 24px;
    --h3-font-size: 21px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    font-family: var(--body-font);
    background-color: var(--bg-colour);
    color: var(--font-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
 }

 main{
    flex: 1 0 auto;
 }

 img{
   width: 300px;   /**************************** PROVISOIRE ******************************/
   height: 420px;
   filter: sepia(50%);
   transition: 0.2s;
   border-radius: 9px 9px 0 0;
}

 img:hover{
    filter: none;
 }

/*=============== HEADER AND FOOTER===============*/
.nav_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--font-color);
    padding: 12px 20px;
}

.nav_logo{
    font-family: "Rubik";
    font-weight: 800 ;
    font-size: 32px;
    text-decoration: none;
    color: var(--bg-colour);
    transition: 0.5s;
}
.nav_logo:hover{
    text-shadow: 3px 3px 0 #8a7f55;
}

.menu{display: flex;}

.menu li{padding-left: 30px;}

.menu li a, .footer_list a{
    display: inline-block;
    text-decoration: none;
    color: var(--bg-colour);
    font-weight: 500;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after, .footer_list a::after{
    content: "";
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--bg-colour);
    transition: 0.2s ease-in-out;
}

.menu li a:hover:after, .footer_list a:hover:after{width: 100%;}

.open-menu, .close-menu{
    position: absolute;
    color: var(--bg-colour);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top: 20px;
    right: 20px;
}

#check{display: none;}

.footer_list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--font-color);
    padding: 12px 20px;
}

.footer_social{
    padding: 0 1;
    font-size: 1.2rem;
}

/*========================================= BODY =============================================*/

/*=============== FONT ===============*/
.count_list{
    text-align: end;
    padding-right: 10px;
}

h1{
    font-family: "Rubik";
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
}

h2{
    font-size: var(--h2-font-size);
    font-weight: 500;
    padding-left: 10px;
    position: absolute;
}

h3{
    font-size: var(--h3-font-size);
    font-weight: 500;
    padding-left: 10px;
}

/*=============== BUTTON ===============*/
.btn_display{
    display: flex;
    justify-content: center;
}

.more_btn{
    font-size: var(--body-font-size);
    border: 2px solid var(--font-color);
    border-radius: 10px;
    text-align: center;
    padding: 6px 18px;
    margin: 20px 0 80px 0;
    background-color: var(--bg-colour);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--font-color);
}
.add_btn{
    font-size: var(--body-font-size);
    border: 2px solid var(--font-color);
    border-radius: 10px;
    text-align: center;
    padding: 6px 18px;
    margin: 0 0 10px 10px;
    background-color: var(--bg-colour);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--font-color);
}

#add_btn_position{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 20px;
}

.more_btn:hover, .more_btn:hover:visited, .add_btn:hover, .add_btn:hover:visited{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    color: var(--bg-colour);
    background-color: var(--font-color);
}


/*=============== CARDS ===============*/

.cards_list{
    background-color: var(--group-bg-colour);
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 50px;
}

.card_item{
    background-color: var(--font-color);
    border-radius: 13px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}

.card_item p{
    color: var(--font-card-colour);
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
}

.fade_card{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 95%);
}

.wrapper{
    background-color: var(--group-bg-colour);
}

.detail{

    flex-direction: column;
    background-color: var(--card-color);
    color: var(--font-card-colour);
    margin: 0 0 50px 0;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}

.detail p, .detail figure{    display: flex;
    justify-content: center;
}


/*========================================= MEDIA QUERIES =============================================*/
@media(max-width:650px){

/*=============== NAV ===============*/

.menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 99;
        background-color: var(--font-color);
        transition: all 0.2s ease-in-out;
    }

    .menu li{margin-top: 20px;}

    .menu li a{padding: 10px;}

    .open-menu, .close-menu{display: block;}

    #check:checked~.menu{right: 0;}
}
